<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ title|default('kinopoisk') }}{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
			{% if css is defined %}			
				{% for style in css %}
					<link rel="stylesheet" type="text/css" href="{{ asset(style) }}">
				{% endfor %}
			{% endif %}
		{% endblock %}
    </head>
    <body>
		<div class='content'>
		<div><h3>{{ title|default('kinopoisk') }}</h3></div>
		    {% block body %}{% endblock %}
		</div>
		{% block javascripts %}
			{% if js is defined %}
				{% for script in js %}
					<script src="{{ asset(script) }}"></script>
				{% endfor %}
			{% endif %}
		{% endblock %}
    </body>
</html>
